{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<main>
		<section class="section section--component-15">
			<div class="component-15 ">
				<div class="swiper swiper--hero">
					<div class="swiper-wrapper">
						<div class="swiper-slide display-style--full">
							<span name="d.en.633384"></span>
							<div class="component-15__background">
								<picture>
									<source srcset="" media="(min-width: 768px)">
									<img src="images/uele.png" alt=" Faculté des Sciences Agronomiques">
								</picture>
							</div>
							<div class="component-15__overlay"></div>
							<div class="component-15__gradient component-15__gradient--yellow"></div>
							<div class="component-15__gradient component-15__gradient--blue"></div>
							<div class="component-15__grid-overlay">
								<img src="images/hero-1.png" alt="overlay image">
							</div>
							<div class="component-15__content">
								<div class="container">
									<h1 class="heading-xxxl">
										Faculté des Sciences Agronomiques</h1>
									<div class="heading-sm">
										<p></p>
									</div>
									<a href="#/study/" class="btn btn-primary">En Savoir plus</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide display-style--full">
							<span name="d.en.635075"></span>
							<div class="component-15__background">
								<img src="images/Class%20pic%20Patrick.JPG" alt="Étudier chez nous">
							</div>
							<div class="component-15__overlay"></div>
							<div class="component-15__gradient component-15__gradient--yellow"></div>
							<div class="component-15__gradient component-15__gradient--blue"></div>
							<div class="component-15__grid-overlay">
								<img src="images/uniuele.jpg" alt="overlay image">
							</div>
							<div class="component-15__content">
								<div class="container">
									<h2 class="heading-xxxl">Étudier chez nous</h2>
									<div class="heading-sm">
										<p>
										 	La Faculté propose plusieurs cursus en Agronomies et Environnements. Découvrez l'éventail des programmes de premier cycle proposés dans les domaines de l'agriculture, de l'horticulture, de la foresterie, des sciences de l'alimentation et de la nutrition humaine.
										</p>
									</div>
									<a href="#/study/undergraduateprogrammes/" class="btn btn-primary">Learn More</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide display-style--full">
							<span name="d.en.635076"></span>
							<div class="component-15__background">
								<img src="images/food%20science%20and%20health%20banner.png" alt="MSc in Food Science with Nutrition">
							</div>
							<div class="component-15__overlay"></div>
							<div class="component-15__gradient component-15__gradient--yellow"></div>
							<div class="component-15__gradient component-15__gradient--blue"></div>
							<div class="component-15__grid-overlay">
								<img src="images/hero-1.png" alt="overlay image">
							</div>
							<div class="component-15__content">
								<div class="container">
									<h2 class="heading-xxxl">MSc in Food Science with Nutrition</h2>
									<h3 class="heading-md">The MSc in Food Science with Nutrition at UCD is designed to equip you with cutting-edge knowledge and the skills required to address the challenges and opportunities in the global food industry.</h3>
									<a href="https://hub.ucd.ie/usis/!W_HU_MENU.P_PUBLISH?p_tag=COURSE&MAJR=D098" class="btn btn-primary">Learn More</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide display-style--full">
							<span name="d.en.641652"></span>
							<div class="component-15__background">
								<img src="images/hort%20banner.png" alt="Graduate Studies">
							</div>
							<div class="component-15__overlay"></div>
							<div class="component-15__gradient component-15__gradient--yellow"></div>
							<div class="component-15__gradient component-15__gradient--blue"></div>
							<div class="component-15__grid-overlay">
								<img src="images/hero-1.png" alt="overlay image">
							</div>
							<div class="component-15__content">
								<div class="container">
									<h2 class="heading-xxxl">Graduate Studies</h2>
									<h3 class="heading-md">The Faculté des Sciences Agronomiques offers a range of taught graduate programmes, designed to enhance students' professional and career development, deepen their understanding of a subject and provide basic research training.</h3>
									<a href="https://www.ucd.ie#/study/graduatetaughtprogrammes/" class="btn btn-primary">Learn more
										<span class="visually-hidden">about Graduate Studies</span>
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide display-style--full">
							<span name="d.en.641526"></span>
							<div class="component-15__background">
								<img src="images/field%2012.jpg" alt="UCD Lyons Farm">
							</div>
							<div class="component-15__overlay"></div>
							<div class="component-15__gradient component-15__gradient--yellow"></div>
							<div class="component-15__gradient component-15__gradient--blue"></div>
							<div class="component-15__grid-overlay">
								<img src="images/hero-1.png" alt="overlay image">
							</div>
							<div class="component-15__content">
								<div class="container">
									<h2 class="heading-xxxl">UCD Lyons Farm</h2>
									<h3 class="heading-md">UCD Lyons Farm operates mixed enterprises, supporting teaching and research in the areas of beef, crops, dairy, equine, sheep and pigs and is an important resource for the School’s of Agriculture and Food Science and Veterinary Medicine.</h3>
									<a href="https://www.ucd.ie#/about/ucdlyonsfarm/" class="btn btn-primary">LEARN MORE</a>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-pagination container"></div>
					<div class="swiper-button-prev">
						<div class="btn btn-navy btn-icon-reverse">
							<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M13.5834 26L2.02784 14.4444L0.703762 13L2.02784 11.5556L13.5834 0L16.3519 2.88889L8.04635 11.0741L46.6852 11.0741V14.9259L8.04635 14.9259L16.3519 23.1111L13.5834 26Z" fill="white"></path>
							</svg>
						</div>
					</div>
					<div class="swiper-button-next">
						<div class="btn btn-navy btn-icon">
							<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
							</svg>
						</div>
					</div>
				</div>
			</div>
			<div class="component-15-navigation">
				<ul class="component-15-navigation__list"></ul>
			</div>
		</section>
		<section class="section section--component-12">
			<div class="component-12">
				<div class="component-12__overlay polygon polygon--green-big polygon--navy-big"></div>
				<div class="container">
					<div class="component-12__wrapper">
						<div class="row g-0">
							<div class="col-12 col-lg-4 d-flex">
								<div class="component-12__box flex-1">
									<div class="component-12__head"></div>
									<div class="component-12__extras">
										<div class="component-12__extras--title">
											How can we help you?
										</div>
										<div class="component-12__dropdown dropdown">
											<button class="btn btn-secondary dropdown-toggle" type="button" id="c12-dropdown-337669" data-bs-toggle="dropdown" aria-expanded="false">Please Select</button>
											<ul class="dropdown-menu" aria-labelledby="c12-dropdown-337669">
												<li>
													<a class="dropdown-item" href="#/study/undergraduateprogrammes/">Undergraduate Programmes</a>
												</li>
												<li>
													<a class="dropdown-item" href="#/study/graduatetaughtprogrammes/">Graduate Taught Programmes</a>
												</li>
												<li>
													<a class="dropdown-item" href="#/study/graduateresearchprogrammes/">Graduate Research Programmes</a>
												</li>
												<li>
													<a class="dropdown-item" href="#/study/internationalstudents/">International Students</a>
												</li>
												<li>
													<a class="dropdown-item" href="#/research/">Research
													</a>
												</li>
												<li>
													<a class="dropdown-item" href="#/about/ediequalitydiversityandinclusion/startingoutatschoolofagricultureandfoodscience/">New Staff and Student information</a>
												</li>
												<li>
													<a class="dropdown-item" href="#/newsandevents/upcomingevents/">Upcoming Events</a>
												</li>
												<li>
													<a class="dropdown-item" href="#/contact/">Contact Us</a>
												</li>
											</ul>
										</div>
									</div>
									<script>
										window.dataLayer = window.dataLayer || [];
										window.dataLayer.push({'event': 'home_drop_loaded'});
									</script>
								</div>
							</div>
							<div class="col-12 col-lg-8">
								<div class="swiper swiper-banner swiper--arrows">
									<div class="swiper-wrapper"></div>
									<div class="swiper-pagination"></div>
									<div class="swiper-button-next">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="35" viewbox="0 0 20 35" fill="none">
											<path d="M2.23404 0L18.617 16.383L19.5479 17.5L18.617 18.617L2.23404 35L0 32.766L15.359 17.5L0 2.23404L2.23404 0Z" fill="white"></path>
										</svg>
									</div>
									<div class="swiper-button-prev">
										<svg width="20" height="35" viewbox="0 0 20 35" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M17.3138 0L0.930832 16.383L-1.90735e-05 17.5L0.930832 18.617L17.3138 35L19.5479 32.766L4.18881 17.5L19.5479 2.23404L17.3138 0Z" fill="white"></path>
										</svg>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--ucdcanc-News Headline (component 25) -->
		<section id="h810346" class="section section--component-25 polygon section--grey-lighter polygon--yellow-top-right polygon--blue-bottom-right">
			<span name="d.en.810346"></span>
			<div class="component-25">
				<div class="container">
					<h2 class="component-25__title">Recent News</h2>
					<div
						class="swiper swiper-gallery swiper--arrows swiper--arrows--navy">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<a href="#/newsandevents/news/recentnews2025/sineadflanneryreceivestheucdvaluesinactionaward/" title="Go to 'Dr. Sinéad Flannery, Assistant Professor in Behavioural Science in Agriculture and Rural Development and School Professional Work Experience Co-Ordinator has received the UCD Values in Action Award 2025. ' page">
									<div class="component-25__item">
										<span name="d.en.819764"></span>
										<div class="component-25__item--img ">
											<img src="images/SInead%20Flannery.jpg" loading="lazy" alt="Dr. Sinéad Flannery, Assistant Professor in Behavioural Science in Agriculture and Rural Development and School Professional Work Experience Co-Ordinator has received the UCD Values in Action Award 2025. ">
											<span class="component-25__item--date">19<span>May</span>
											</span>
										</div>
										<div class="component-25__item--content">
											<h5 class="component-25__item--title">Dr. Sinéad Flannery, Assistant Professor in Behavioural Science in Agriculture and Rural Development and School Professional Work Experience Co-Ordinator has received the UCD Values in Action Award 2025.
											</h5>
											<p>Dr. Sinéad Flannery, Assistant Professor in Behavioural Science in Agriculture and Rural Development and School Professional Work Experience Co-Ordinator received the UCD Values in Action Award 2025 at a ceremony in the University Club.</p>
										</div>
										<div class="component-25__cta">
											<div class="btn btn-green-bright btn-icon">
												<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
												</svg>
											</div>
										</div>
									</div>
									<!--/.component-25__item-->
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#/newsandevents/news/recentnews2025/johnrocheannouncedaschiefscienceadvisor/" title="Go to 'UCD Animal Science and Agriculture PhD alum Dr. John Roche who has been appointed New Zealand Prime Minister Christopher Luxon's Chief Science Advisor. ' page">
									<div class="component-25__item">
										<span name="d.en.818083"></span>
										<div class="component-25__item--img ">
											<img src="images/John-Roche-flat-3.jpg.jpg" loading="lazy" alt="UCD Animal Science and Agriculture PhD alum Dr. John Roche who has been appointed New Zealand Prime Minister Christopher Luxon\'s Chief Science Advisor. ">
											<span class="component-25__item--date">08<span>May</span>
											</span>
										</div>
										<div class="component-25__item--content">
											<h5 class="component-25__item--title">UCD Animal Science and Agriculture PhD alum Dr. John Roche who has been appointed New Zealand Prime Minister Christopher Luxon's Chief Science Advisor.
											</h5>
											<p>UCD Animal Science and Agriculture PhD alum Dr. John Roche who has been appointed New Zealand Prime Minister Christopher Luxon's Chief Science Advisor. The Ministry for Primary Industries (MPI) New Zealand executive joins a number of other key personnel as part of the Prime Minister's Science and Technology Advisory Council and he will also act as as deputy chair for the Council.
											</p>
										</div>
										<div class="component-25__cta">
											<div class="btn btn-green-bright btn-icon">
												<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
												</svg>
											</div>
										</div>
									</div>
									<!--/.component-25__item-->
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#/newsandevents/news/recentnews2025/championsforsafety/" title="Go to 'Champions for Safety event takes place at UCD ' page">
									<div class="component-25__item">
										<span name="d.en.815806"></span>
										<div class="component-25__item--img ">
											<img src="images/IMG_2820.jpg" loading="lazy" alt="Champions for Safety event takes place at UCD ">
											<span class="component-25__item--date">24<span>Apr</span>
											</span>
										</div>
										<div class="component-25__item--content">
											<h5 class="component-25__item--title">Champions for Safety event takes place at UCD
											</h5>
											<p>As part of the 2nd years Health, Welfare and Safety module, we were delighted to welcome a fantastic line up of speakers to Faculté des Sciences Agronomiques for the “Champions For Safety” event.
											</p>
										</div>
										<div class="component-25__cta">
											<div class="btn btn-green-bright btn-icon">
												<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
												</svg>
											</div>
										</div>
									</div>
									<!--/.component-25__item-->
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#/newsandevents/news/recentnews2025/ucdteagascknowledgetransferfundedmasters2025/" title="Go to 'UCD Teagasc Knowledge Transfer Funded Masters 2025' page">
									<div class="component-25__item">
										<span name="d.en.812983"></span>
										<div class="component-25__item--img ">
											<img src="images/knowledge%20transfer.jpeg" loading="lazy" alt="UCD Teagasc Knowledge Transfer Funded Masters 2025">
											<span class="component-25__item--date">09<span>Apr</span>
											</span>
										</div>
										<div class="component-25__item--content">
											<h5 class="component-25__item--title">UCD Teagasc Knowledge Transfer Funded Masters 2025</h5>
											<p>The MSc Agricultural Extension and Innovation and MSc Agricultural Innovation Support; collaborative funded programmes delivered by UCD and Teagasc are now open for applications.</p>
										</div>
										<div class="component-25__cta">
											<div class="btn btn-green-bright btn-icon">
												<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
												</svg>
											</div>
										</div>
									</div>
									<!--/.component-25__item-->
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#/newsandevents/news/recentnews2025/developmentofahybridhuman-aipersonalisedlearningpathforvetforinnovationinagriculture/" title="Go to 'Development of a Hybrid Human-AI personalised learning path for VET for innovation in agriculture' page">
									<div class="component-25__item">
										<span name="d.en.812103"></span>
										<div class="component-25__item--img ">
											<img src="images/PERSONA%20-%20update.png" loading="lazy" alt="Development of a Hybrid Human-AI personalised learning path for VET for innovation in agriculture">
											<span class="component-25__item--date">06<span>Apr</span>
											</span>
										</div>
										<div class="component-25__item--content">
											<h5 class="component-25__item--title">Development of a Hybrid Human-AI personalised learning path for VET for innovation in agriculture</h5>
											<p>Persona is an EU-funded project aiming to develop new innovative solutions and learning paths in agriculture, making use of a hybrid human-AI format.
											</p>
										</div>
										<div class="component-25__cta">
											<div class="btn btn-green-bright btn-icon">
												<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
												</svg>
											</div>
										</div>
									</div>
									<!--/.component-25__item-->
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#/newsandevents/news/recentnews2025/ucdwelcomesnewzealandambassadortoirelandmrtrevormallard/" title="Go to 'UCD welcomes New Zealand Ambassador to Ireland, Mr Trevor Mallard ' page">
									<div class="component-25__item">
										<span name="d.en.812109"></span>
										<div class="component-25__item--img ">
											<img src="images/new%20zealand4.jpg" loading="lazy" alt="UCD welcomes New Zealand Ambassador to Ireland, Mr Trevor Mallard ">
											<span class="component-25__item--date">04<span>Apr</span>
											</span>
										</div>
										<div class="component-25__item--content">
											<h5 class="component-25__item--title">UCD welcomes New Zealand Ambassador to Ireland, Mr Trevor Mallard
											</h5>
											<p>The Faculté des Sciences Agronomiques was delighted to welcome New Zealand Ambassador to Ireland, Mr Trevor Mallard and New Zealand’s Special Agricultural Trade Envoy Hamish Marr to UCD Lyons Farm.
											</p>
										</div>
										<div class="component-25__cta">
											<div class="btn btn-green-bright btn-icon">
												<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
												</svg>
											</div>
										</div>
									</div>
									<!--/.component-25__item-->
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#/newsandevents/news/recentnews2025/ministerheydonpresentswomeninagriculturestudiesexcellenceaward/" title="Go to 'Minister Heydon presents Women in Agriculture Studies Excellence Award' page">
									<div class="component-25__item">
										<span name="d.en.810334"></span>
										<div class="component-25__item--img ">
											<img src="images/Women%20in%20Agriculture-5.jpg" loading="lazy" alt="Minister Heydon presents Women in Agriculture Studies Excellence Award">
											<span class="component-25__item--date">27<span>Mar</span>
											</span>
										</div>
										<div class="component-25__item--content">
											<h5 class="component-25__item--title">Minister Heydon presents Women in Agriculture Studies Excellence Award</h5>
											<p>The Minister for Agriculture, Food and the Marine, Martin Heydon, TD, today presented the Women in Agriculture Studies Excellence Award to Ruth Connolly, a final year PhD student in Animal Science at Faculté des Sciences Agronomiques (SAFS).
												<br></p>
										</div>
										<div class="component-25__cta">
											<div class="btn btn-green-bright btn-icon">
												<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
												</svg>
											</div>
										</div>
									</div>
									<!--/.component-25__item-->
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#/newsandevents/news/recentnews2025/farmwalkandtalk2025/" title="Go to 'Farm Walk and Talk 2025' page">
									<div class="component-25__item">
										<span name="d.en.810335"></span>
										<div class="component-25__item--img ">
											<img src="images/image00140.jpg" loading="lazy" alt="Farm Walk and Talk 2025">
											<span class="component-25__item--date">12<span>Mar</span>
											</span>
										</div>
										<div class="component-25__item--content">
											<h5 class="component-25__item--title">Farm Walk and Talk 2025</h5>
											<p>UCD Lyons Farm welcomed students from Dublin, Meath, Kildare, Wicklow, Wexford, Westmeath, Laois, Offaly and even as far as Donegal to give them a practical insight into many of the themes in the Leaving Certificate agricultural science syllabus.</p>
										</div>
										<div class="component-25__cta">
											<div class="btn btn-green-bright btn-icon">
												<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
												</svg>
											</div>
										</div>
									</div>
									<!--/.component-25__item-->
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#/newsandevents/news/recentnews2025/prouddayatucdawardsday/" title="Go to 'Proud Day at UCD Awards Day' page">
									<div class="component-25__item">
										<span name="d.en.810514"></span>
										<div class="component-25__item--img ">
											<img src="images/IMG_2118.jpg" loading="lazy" alt="Proud Day at UCD Awards Day">
											<span class="component-25__item--date">07<span>Mar</span>
											</span>
										</div>
										<div class="component-25__item--content">
											<h5 class="component-25__item--title">Proud Day at UCD Awards Day</h5>
											<p>A very special day in the UCD calendar, the School of Agriculture and Food Science where delighted to celebrate students who were rewarded for their exceptional sporting, academic, and artistic achievement at UCD Awards Day</p>
										</div>
										<div class="component-25__cta">
											<div class="btn btn-green-bright btn-icon">
												<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
												</svg>
											</div>
										</div>
									</div>
									<!--/.component-25__item-->
								</a>
							</div>
						</div>
						<!--/.swiper-wrapper-->
						<!-- If we need pagination -->
						<div class="swiper-pagination"></div>
						<!-- If we need navigation buttons -->
						<div class="swiper-button-next">
							<svg width="57" height="32" viewbox="0 0 57 32" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M41.1018 0L55.3241 14.2222L56.9537 16L55.3241 17.7778L41.1018 32L37.6944 28.4444L47.9166 18.3704H0.361084V13.6296H47.9166L37.6944 3.55556L41.1018 0Z" fill="#031231"></path>
							</svg>
						</div>
						<div class="swiper-button-prev">
							<svg width="57" height="32" viewbox="0 0 57 32" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.8982 0L1.67595 14.2222L0.0463219 16L1.67595 17.7778L15.8982 32L19.3056 28.4444L9.08336 18.3704H56.6389V13.6296H9.08336L19.3056 3.55556L15.8982 0Z" fill="#031231"></path>
							</svg>
						</div>
					</div>
					<!--/.swiper-->
					<div class="row">
						<div class="col-12 d-flex justify-content-center">
							<a href="#/newsandevents/" class="btn btn-primary" title="Go to 'All News' page">All News</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ucdcanc-News Headline -->
		<section id="h337674" class="section section--component-13 polygon polygon--blue-top-left polygon--green-bright-bottom-left">
			<span name="d.en.337674"></span>
			<div class="component-13">
				<div class="container">
					<h2 class="component-13__title">Spotlights</h2>
					<div class="row">
						<div class="col-12 col-md-6 col-lg-4 d-flex">
							<a href="#/study/undergraduateprogrammes/" title="Go to 'Find out about the range of undergraduate programmes on offer in Agriculture, Horticulture, Forestry, Food Science and Human Nutrition' page">
								<div class="component-13__item">
									<div class="component-13__item--img">
										<img src="images/FotoJet-6-scaled.jpg" alt="Find out about the range of undergraduate programmes on offer in Agriculture, Horticulture, Forestry, Food Science and Human Nutrition" loading="lazy">
										<span class="component-13__item--tag">Undergraduate Programmes</span>
									</div>
									<div class="component-13__item--content">
										<h5 class="component-13__item--title">Find out about the range of undergraduate programmes on offer in Agriculture, Horticulture, Forestry, Food Science and Human Nutrition</h5>
									</div>
									<div class="component-13__cta">
										<div class="btn btn-blue btn-icon">
											<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
											</svg>
										</div>
									</div>
								</div>
							</a>
						</div>
						<!--/.col-->
						<div class="col-12 col-md-6 col-lg-4 d-flex">
							<a href="#/study/graduatetaughtprogrammes/" title="Go to 'Learn more about our Graduate Taught programmes' page">
								<div class="component-13__item">
									<div class="component-13__item--img">
										<img src="images/Agri%20extension.jpeg" alt="Learn more about our Graduate Taught programmes" loading="lazy">
										<span class="component-13__item--tag">Graduate Taught Programmes</span>
									</div>
									<div class="component-13__item--content">
										<h5 class="component-13__item--title">Learn more about our Graduate Taught programmes</h5>
									</div>
									<div class="component-13__cta">
										<div class="btn btn-blue btn-icon">
											<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
											</svg>
										</div>
									</div>
								</div>
							</a>
						</div>
						<!--/.col-->
						<div class="col-12 col-md-6 col-lg-4 d-flex">
							<a href="#/contact/staffprofiles/" title="Go to 'Meet staff from the UCD School of Agriculture & Food Science' page">
								<div class="component-13__item">
									<div class="component-13__item--img">
										<img src="images/Staff_Home_Page2.png" alt="Home3ColSpot_Staff" loading="lazy">
										<span class="component-13__item--tag">Staff Profiles</span>
									</div>
									<div class="component-13__item--content">
										<h5 class="component-13__item--title">Meet staff from the UCD School of Agriculture & Food Science</h5>
									</div>
									<div class="component-13__cta">
										<div class="btn btn-blue btn-icon">
											<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
											</svg>
										</div>
									</div>
								</div>
							</a>
						</div>
						<!--/.col-->
						<div class="col-12 col-md-6 col-lg-4 d-flex">
							<a href="#/newsandevents/news/recentnews2023/safsachievesfirstsilverathenaswanawardinucd/" title="Go to 'We are very proud of our recent Athena Swan Silver Award. Visit our EDI pages and learn about our commitment to creating an inclusive environment for students and staff.' page">
								<div class="component-13__item">
									<div class="component-13__item--img">
										<img src="images/Athena%20Swan%20Silver-718x360.jpg" alt="Athena Swan Silver Award" loading="lazy">
										<span class="component-13__item--tag">Equality, Diversity and Inclusion</span>
									</div>
									<div class="component-13__item--content">
										<h5 class="component-13__item--title">We are very proud of our recent Athena Swan Silver Award. Visit our EDI pages and learn about our commitment to creating an inclusive environment for students and staff.</h5>
									</div>
									<div class="component-13__cta">
										<div class="btn btn-blue btn-icon">
											<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
											</svg>
										</div>
									</div>
								</div>
							</a>
						</div>
						<!--/.col-->
						<div class="col-12 col-md-6 col-lg-4 d-flex">
							<a href="#/newsandevents/" title="Go to 'Information on upcoming or recent events hosted at the Faculté des Sciences Agronomiques' page">
								<div class="component-13__item">
									<div class="component-13__item--img">
										<img src="images/web%20news.JPG" alt="Information on upcoming or recent events hosted at the Faculté des Sciences Agronomiques" loading="lazy">
										<span class="component-13__item--tag">News & Events
										</span>
									</div>
									<div class="component-13__item--content">
										<h5 class="component-13__item--title">Information on upcoming or recent events hosted at the Faculté des Sciences Agronomiques</h5>
									</div>
									<div class="component-13__cta">
										<div class="btn btn-blue btn-icon">
											<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
											</svg>
										</div>
									</div>
								</div>
							</a>
						</div>
						<!--/.col-->
						<div class="col-12 col-md-6 col-lg-4 d-flex">
							<a href="#/research/" title="Go to 'Learn more about the world-class agri-food research undertaken at UCD' page">
								<div class="component-13__item">
									<div class="component-13__item--img">
										<img src="images/Home3ColSpot_Research_7.jpg" alt="Learn more about the world-class agri-food research undertaken at UCD" loading="lazy">
										<span class="component-13__item--tag">Research
										</span>
									</div>
									<div class="component-13__item--content">
										<h5 class="component-13__item--title">Learn more about the world-class agri-food research undertaken at UCD</h5>
									</div>
									<div class="component-13__cta">
										<div class="btn btn-blue btn-icon">
											<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
											</svg>
										</div>
									</div>
								</div>
							</a>
						</div>
						<!--/.col-->
					</div>
					<!--/.row-->
				</div>
			</div>
		</section>
		<!-- ucdcanc-HomeCampaign - component 14 -->
		<section class="section section--component-14" id="h337675">
			<span name="d.en.337675"></span>
			<div class="component-14">
				<div class="container component-14__container">
					<img src="images/new%20international%20image%20copy.jpeg" alt="INTERNATIONAL STUDENTS">
					<div class="component-14__wrapper">
						<h2 class="component-14__title">INTERNATIONAL STUDENTS</h2>
						<p>“The high reputation of teaching quality<br>and research in agriculture and the<br>environment is one of my reasons to choose UCD.”<br>Wenbo Hu, BAgrSc Agri-Environmental Sciences</p>
						<div class="component-14__cta d-flex flex-wrap">
							<a href="#/study/internationalstudents/" class="btn btn-navy">International Students</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /ucdcanc-HomeCampaign - component 14 -->
		<!-- ucdcanc-JuicerFeed - component 26 -->
		<section id="h337676" class="section section--component-26 section--pattern section--pattern-gradient ">
			<span name="d.en.337676"></span>
			<div class="component-26">
				<div class="container">
					<h2 class="component-26__title">Social Media Latest</h2>
					<div class="feed-wrapper">
						<script type="text/javascript" src="js/embed-code.js" async="" defer=""></script>
					</div>
				</div>
			</div>
		</section>
		<!--/ucdcanc-JuicerFeed -->
		<!--school contact - component 5 -->
		<section class="section section--component-5">
			<span name="d.en.632995"></span>
			<div class="component-5">
				<div class="container">
					<h2 class="heading-xl">Faculté des Sciences Agronomiques</h2>
					<address>Agriculture and Food Science Centre, University College Dublin, Belfield, Dublin 4, Ireland.</address>
					<address>
						T:
						<a href="tel:+353 1 716 7205">+353 1 716 7205</a>
						|
						<a href="https://goo.gl/maps/fhDsLvmvzdjLcniq5" target="_blank" rel="noopener" tabindex="0" title="Go to 'Location Map' page">Location Map<span class="sr-only">(opens in a new window)</span>
						</a>
					</address>
					<ul class="component-5__social">
						<li>
							<a href="https://www.facebook.com/ucdagfood" target="_blank" rel="noopener" tabindex="0" title="Go to 'Facebook' page">
								<i class="lab la-facebook-f"></i>
								<span class="sr-only">(opens in a new window)</span>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/ucdagfood" target="_blank" rel="noopener" tabindex="0" title="Go to 'Twitter' page">
								<i class="lab la-twitter"></i>
								<span class="sr-only">(opens in a new window)</span>
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/user/ucdagfood" target="_blank" rel="noopener" tabindex="0" title="Go to 'YouTube' page">
								<i class="lab la-youtube"></i>
								<span class="sr-only">(opens in a new window)</span>
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/school/ucdagfood/" target="_blank" rel="noopener" tabindex="0" title="Go to 'Linkedin' page">
								<i class="lab la-linkedin-in"></i>
								<span class="sr-only">(opens in a new window)</span>
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/ucdagfood/" target="_blank" rel="noopener" tabindex="0" title="Go to 'Instagram' page">
								<i class="lab la-instagram"></i>
								<span class="sr-only">(opens in a new window)</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<!--/school contact   -->
	</main>
{% endblock %}
