<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>DSAE - Uele</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#1e1e1e">
		<meta name="msapplication-navbutton-color" content="#1e1e1e">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta
		name="silktide-cms" content="eyJjbXMiOiJUZXJtaW5hbGZvdXIiLCJlZGl0b3JVcmwiOiJodHRwczovL2Ntcy51Y2QuaWUvc20vcGFnZS9kaXJlY3RFZGl0I2VkaXQvMS9lbi84OTQxNiJ9">
		<!-- CookiePro Cookies Consent Notice start for ucd.ie -->
		<script async="" src="/js/gtm.js"></script>
		<script type="text/javascript" src="/js/OtAutoBlock.js"></script>
		<script src="/js/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="f638e53d-11c1-473f-aa7f-b47b6862f492"></script>
		<script type="text/javascript">
			function OptanonWrapper() {
                var elements = document.querySelectorAll('.ot-host-name, .ot-host-desc');
                for (var i = 0; i < elements.length; i++) {
                elements[i].parentNode.removeChild(elements[i]);
                }
            }
		</script>
		<!-- CookiePro Cookies Consent Notice end for ucd.ie -->


		<script>
			var UCD_SITE_SEARCH_CONFIG = {
                "siteurl": "#/",
                "sitename": "Uniele Faculté des Sciences Agronomiques"
            }
		</script>


		<link rel="apple-touch-icon" sizes="180x180" href="images/logo.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/logo.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/logo.png">
		<link rel="stylesheet" href="/css/main.min-1.css">
		<style>
			.standard img {
				max-width: 100% !important;
				height: auto !important;
			}
		</style>
	</head>
	<body class="body">
		<nav class="navbar navbar-expand-xl fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand me-auto me-xl-0" href="#/" title="Go to 'Home' page">
					<div class="navbar-brand__main">

						<img class="navbar-brand__desktop" src="/images/logo.png" alt="Université de l'Uele">


						<div class="navbar-brand__text">
							<span>Faculté des Sciences Agrnonomiques et Environnements</span>
							<span></span>
						</div>
					</div>
				</a>
				<button id="hamburger" class="hamburger hamburger--spring border-0" data-toggle="menu-offcanvas" type="button" tab-index="5">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
					<span class="hamburger-label">Menu</span>
					<span class="hamburger-label">Close</span>
				</button>

				<div class="navbar-collapse offcanvas-collapse greedy-nav" id="offcanvas-navbar">
					<ul class="navbar-nav ms-auto visible-links">

						<li class="nav-item">
							<div class="dropdown">
								<button class="dropdown-toggle" type="button" id="mainnav-dropdown-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									La Faculté
									<div class="dropdown-toggle__arrow">
										<svg width="15" height="10" viewbox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M2.67195 1.2841C2.28143 0.89358 1.64826 0.89358 1.25774 1.2841C0.867213 1.67463 0.867213 2.30779 1.25774 2.69832L7.27553 8.71611C7.44639 8.88697 7.66369 8.98307 7.88679 9.00443C7.98152 9.0135 8.0773 9.00909 8.17101 8.99121C8.36107 8.95494 8.54264 8.86324 8.68977 8.71611L14.7076 2.69832C15.0981 2.30779 15.0981 1.67463 14.7076 1.2841C14.317 0.89358 13.6839 0.89358 13.2934 1.2841L7.98265 6.5948L2.67195 1.2841Z" fill="#111111"></path>
										</svg>
									</div>
								</button>
								<div class="dropdown-menu" aria-labelledby="mainnav-dropdown-0" role="menu">
									<ul class="dropdown-menu--list p-0 m-0">
										<li role="menuitem">
											<a class="dropdown-item" href="#/about/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												A Propos
											</a>
										</li>
										<li role="menuitem">
											<a class="dropdown-item" href="/about/presentation" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Présentation
											</a>
										</li>
										<li role="menuitem">
											<a class="dropdown-item" href="#/about/alumni/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Oranigramme
											</a>
										</li>
                                        <li role="menuitem">
											<a class="dropdown-item" href="#/about/alumni/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Staff Facultaire
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="nav-item">
							<div class="dropdown">
								<button class="dropdown-toggle" type="button" id="mainnav-dropdown-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Formations
									<div class="dropdown-toggle__arrow">
										<svg width="15" height="10" viewbox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M2.67195 1.2841C2.28143 0.89358 1.64826 0.89358 1.25774 1.2841C0.867213 1.67463 0.867213 2.30779 1.25774 2.69832L7.27553 8.71611C7.44639 8.88697 7.66369 8.98307 7.88679 9.00443C7.98152 9.0135 8.0773 9.00909 8.17101 8.99121C8.36107 8.95494 8.54264 8.86324 8.68977 8.71611L14.7076 2.69832C15.0981 2.30779 15.0981 1.67463 14.7076 1.2841C14.317 0.89358 13.6839 0.89358 13.2934 1.2841L7.98265 6.5948L2.67195 1.2841Z" fill="#111111"></path>
										</svg>
									</div>
								</button>
								<div class="dropdown-menu" aria-labelledby="mainnav-dropdown-1" role="menu">
									<ul class="dropdown-menu--list p-0 m-0">
										<li role="menuitem">
											<a class="dropdown-item" href="#" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Formations
											</a>
										</li>
										<li role="menuitem">
											<a class="dropdown-item" href="/study/undergraduateprogrammes/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Programmes de Licences
											</a>
										</li>
										<li role="menuitem">
											<a class="dropdown-item" href="/study/graduateprogrammes/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Programmes de Master
											</a>
										</li>
										<li role="menuitem">
											<a class="dropdown-item" href="/study/graduateresearchprogrammes/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Programmes de Recherches
											</a>
										</li>
										
										<li role="menuitem">
											<a class="dropdown-item" href="/study/postgraduatedevelopment/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Formations professionels
											</a>
										</li>
										
										<li role="menuitem">
											<a class="dropdown-item" href="/study/studenttestimonials/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												FAQ
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="nav-item">
							<div class="dropdown">
								<button class="dropdown-toggle" type="button" id="mainnav-dropdown-2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Recherches
									<div class="dropdown-toggle__arrow">
										<svg width="15" height="10" viewbox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M2.67195 1.2841C2.28143 0.89358 1.64826 0.89358 1.25774 1.2841C0.867213 1.67463 0.867213 2.30779 1.25774 2.69832L7.27553 8.71611C7.44639 8.88697 7.66369 8.98307 7.88679 9.00443C7.98152 9.0135 8.0773 9.00909 8.17101 8.99121C8.36107 8.95494 8.54264 8.86324 8.68977 8.71611L14.7076 2.69832C15.0981 2.30779 15.0981 1.67463 14.7076 1.2841C14.317 0.89358 13.6839 0.89358 13.2934 1.2841L7.98265 6.5948L2.67195 1.2841Z" fill="#111111"></path>
										</svg>
									</div>
								</button>
								<div class="dropdown-menu" aria-labelledby="mainnav-dropdown-2" role="menu">
									<ul class="dropdown-menu--list p-0 m-0">
										<li role="menuitem">
											<a class="dropdown-item" href="#/research/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Recherches
											</a>
										</li>
										<li role="menuitem">
											<a class="dropdown-item" href="#/research/ucdsafsresearchbrochure/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Domaines de Recherche
											</a>
										</li>
						
										<li role="menuitem">
											<a class="dropdown-item" href="#/research/researchseminarseries/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Programmes en cours
											</a>
										</li>
										<li role="menuitem">
											<a class="dropdown-item" href="/study/graduateresearchprogrammes/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Ecole doctorale
											</a>
										</li>
										
									</ul>
								</div>
							</div>
						</li>
						<li class="nav-item">
							<div class="dropdown">
								<button class="dropdown-toggle" type="button" id="mainnav-dropdown-3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Actualités
									<div class="dropdown-toggle__arrow">
										<svg width="15" height="10" viewbox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M2.67195 1.2841C2.28143 0.89358 1.64826 0.89358 1.25774 1.2841C0.867213 1.67463 0.867213 2.30779 1.25774 2.69832L7.27553 8.71611C7.44639 8.88697 7.66369 8.98307 7.88679 9.00443C7.98152 9.0135 8.0773 9.00909 8.17101 8.99121C8.36107 8.95494 8.54264 8.86324 8.68977 8.71611L14.7076 2.69832C15.0981 2.30779 15.0981 1.67463 14.7076 1.2841C14.317 0.89358 13.6839 0.89358 13.2934 1.2841L7.98265 6.5948L2.67195 1.2841Z" fill="#111111"></path>
										</svg>
									</div>
								</button>
								<div class="dropdown-menu" aria-labelledby="mainnav-dropdown-3" role="menu">
									<ul class="dropdown-menu--list p-0 m-0">
										<li role="menuitem">
											<a class="dropdown-item" href="#/newsandevents/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Actualités
											</a>
										</li>
										<li role="menuitem">
											<a class="dropdown-item" href="#/newsandevents/upcomingevents/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Académiques
											</a>
										</li>
										<li role="menuitem">
											<a class="dropdown-item" href="#/newsandevents/news/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Publications Scientifiques
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="nav-item">
							<div class="dropdown">
								<button class="dropdown-toggle" type="button" id="mainnav-dropdown-4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Contact
									<div class="dropdown-toggle__arrow">
										<svg width="15" height="10" viewbox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M2.67195 1.2841C2.28143 0.89358 1.64826 0.89358 1.25774 1.2841C0.867213 1.67463 0.867213 2.30779 1.25774 2.69832L7.27553 8.71611C7.44639 8.88697 7.66369 8.98307 7.88679 9.00443C7.98152 9.0135 8.0773 9.00909 8.17101 8.99121C8.36107 8.95494 8.54264 8.86324 8.68977 8.71611L14.7076 2.69832C15.0981 2.30779 15.0981 1.67463 14.7076 1.2841C14.317 0.89358 13.6839 0.89358 13.2934 1.2841L7.98265 6.5948L2.67195 1.2841Z" fill="#111111"></path>
										</svg>
									</div>
								</button>
								<div class="dropdown-menu" aria-labelledby="mainnav-dropdown-4" role="menu">
									<ul class="dropdown-menu--list p-0 m-0">
										<li role="menuitem">
											<a class="dropdown-item" href="#/contact/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Contact
											</a>
										</li>
										<li role="menuitem">
											<a class="dropdown-item" href="https://sisweb.ucd.ie/usis/W_HU_MENU.P_PUBLISH?p_tag=DIRECTORY" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Répertoire Téléphonique
											</a>
										</li>
										<li role="menuitem">
											<a class="dropdown-item" href="#/contact/staffprofiles/" target="_self">
												<span class="dropdown-item__arrow">
													<svg width="11" height="16" viewbox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g clip-path="url(#clip0_1_5b)">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.7841 12.8281C1.39358 13.2186 1.39358 13.8517 1.7841 14.2423C2.17463 14.6328 2.80779 14.6328 3.19832 14.2423L9.21611 8.22447C9.38697 8.05361 9.48307 7.83631 9.50443 7.61321C9.5135 7.51848 9.50909 7.4227 9.49121 7.32899C9.45494 7.13893 9.36324 6.95736 9.21611 6.81023L3.19832 0.792401C2.80779 0.401901 2.17463 0.401901 1.7841 0.792401C1.39358 1.183 1.39358 1.8161 1.7841 2.2066L7.0948 7.51735L1.7841 12.8281Z" fill="#111111"></path>
														</g>
														<defs>
															<clipPath id="clip0_1_5b">
																<rect width="15" height="10" fill="white" transform="translate(0.5 15.5) rotate(-90)"></rect>
															</clipPath>
														</defs>
													</svg>
												</span>
												Corps Enseignant
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>


					</ul>
					<div class="nav-item-more dropdown">
						<button id="dropdown-more" class="dropdown-toggle dropdown-toggle--more d-xl-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">
							<i class="las la-ellipsis-v"></i>
							More
						</button>
						<div class="dropdown-menu" id="hiddenLinks" aria-labelledby="dropdown-more">
							<ul class="navbar-nav ms-auto hidden-links p-0 m-0"></ul>
						</div>
					</div>
				</div>
				<div class="navbar__subnav">
					<button id="hamburger-laptop" class="hamburger hamburger--spring border-0" data-toggle="menu-offcanvas" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
						<span class="hamburger-label">Menu</span>
						<span class="hamburger-label">Close</span>
					</button>
					<a href="/portail/" class="navbar__button navbar__button--connect navbar__button--navy" title="Go to 'Connect' page">
						<img src="/images/icon-tiles.svg" alt="UCD Portail" class="img--svg">
						<span>UELE Portail</span>
					</a>
				</div>
			</div>
		</nav>
        {% block body %}{% endblock %}
		<footer class="footer">
			<div class="footer__background"></div>
			<div class="footer__gradient footer__gradient--yellow"></div>
			<div class="footer__gradient footer__gradient--blue"></div>
			<div class="footer__gradient footer__gradient--overlay"></div>
			<div class="footer__grid-overlay">
				<img src="/images/grid-overlay-footer.png" alt="Overlay graphic">
			</div>
			<div class="footer__polygons">
				<div class="footer__polygon footer__polygon--right">
					<svg width="1537" height="878" viewbox="0 0 1537 878" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g style="mix-blend-mode:multiply" opacity="0.25">
							<path d="M1537 0L-3.48091e-05 878H1537V0Z" fill="#008ACC"></path>
						</g>
					</svg>
				</div>
				<div class="footer__polygon footer__polygon--left">
					<svg width="800" height="462" viewbox="0 0 800 462" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g style="mix-blend-mode:multiply" opacity="0.2">
							<path d="M0 0L800 462L0 462L0 0Z" fill="#002542"></path>
						</g>
					</svg>
				</div>
			</div>
			<div class="footer__content">
				<div class="container">
					<div class="row">
						<div class="col-md-2 d-none d-lg-block">
							<div class="footer__logo">
								<img src="/images/logo.png" alt="UCD Crest">
							</div>
						</div>
						<div class="col-md-3 col-lg-4 footer__contactinfo">
							<h5>Université de l'Uele</h5>
							<ul class="footer__list">
								<li>Isiro,</li>
								<li>Haut Uele, RDC.</li>
							</ul>
							<ul class="footer__list">
								<li>T: +243 810 --- ---</li>
							</ul>
							<ul class="footer__list">
								<li>©2025</li>
							</ul>
						</div>
						<div class="col-md-3 col-lg-2 col-lg-2--collapsible footer__collapsible-col-1"></div>
						<div class="col-md-3 col-lg-2 col-lg-2--collapsible footer__collapsible-col-2"></div>
						<div class="col-md-3 col-lg-2 col-lg-2--collapsible footer__collapsible-col-3">
							<h6 class="collapsed" data-bs-toggle="collapse" data-bs-target="#footer-collapse-3" aria-expanded="false" aria-controls="footer-collapse-3">Useful Links</h6>
							<ul class="footer__list collapse" id="footer-collapse-3">
								<li>
									<a href="/privacy/" title="Go to 'Privacy' page">Confidentialité</a>
								</li>
								<li>
									<a href="/cookie-policy/" title="Go to 'Cookie Policy' page">Politique relative aux cookies</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script src="/js/bootstrap.bundle.min.js"></script>
		<script src="/js/choices.min.js"></script>
		<script src="/js/fancybox.umd.js"></script>
		<script src="/js/swiper-bundle.min.js"></script>
		<script src="/js/app.min.js"></script>

	</body>
</html>
